@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/*
Admin Menu Styles
*/

.bloginput {
    width: 300px !important;
}

.boldtitle {
  font-weight: bold;
}

#features-form th, #features-form td {
    vertical-align: middle;
    text-align: left;
    padding: 10px !important;;
    line-height: 1.3;
    font-weight: 600;
  }

.choose-new {
  width: 300px;
}

.current-choice {
  padding: 0 15px;
}

#post-id-form th, #post-id-form td {
    vertical-align: text-top;
    text-align: left;
    padding: 10px !important;;
    line-height: 1.3;
    font-weight: 600;
  }

#postslist {
  width: 100%;
}
